body {
  background-color: #000;
  color: #ff8025;
}

.search-container {
  margin-top: 30px;
}

.movie-tile {
  width: 25%;
  padding: 10px 0px;
  display: inline-block;
  text-align: center;
  -webkit-transition:  -webkit-transform .2s ease-out;
  -moz-transition: -moz-transform .2s ease-out;
  -o-transition: -o-transform .2s ease-out;
  -ms-transition: -ms-transform .2s ease-out;
  transition: transform .2s ease-out;
}

.movie-tile:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.movie-tile > img {
  width: 90%;
}

.movie-tile > .movie-title {
  color: #ff8025;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.movie-tile > .movie-release-date {
  font-size: 10px;
  color: #eee;
}